# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
frontend/build

# generated tailwind output
frontend/src/styles/tailwind.output.css

# python / django
__pycache__/
*.py[cod]
backend/static/
db.sqlite3
.venv/
venv/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# go away plz
/.eslintcache
.eslintcache
./.eslintcache
